$mainColor: rgba(0,0,0);
$hoverColor: #044325;
$placeholderColor: rgba(0,0,0,.1);

$fontVinyl: "Vinyl","Arial Narrow","sans-serif";
$fontMercury: "Mercury SSm A","Mercury SSm B";
$fontHelveticva: "N041W16T","helvetica","sans-serif";
$fontGaramond: "garamond-premier-pro","georgia","Times","Times New Roman","serif";