@import './variables';
header
{
    .top
    {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        align-items: center;
        padding-top: 1.6rem;
    }
    .logo
    {
        font-size: 3rem;
        .container
        {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .search
    {
        .container
        {
            display: flex;
            flex-wrap: nowrap;
        }
        input
        {
            width: 100%;
            padding: 1rem 2rem;
            font-size: 1.6rem;
            outline: none;
            font-family: $fontVinyl;
            &::placeholder
            {
                color: $placeholderColor;
                font-weight: 700;
            }
        }
        .search_button
        {
            background-color: $mainColor;
            color: white;
            cursor: pointer;
            width: 4.24rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            font-weight: 600;
        }
    }
    .options
    {
        place-self: end;
        .container
        {
            display: flex;
            .option
            {
                text-decoration: none;
                font-family: $fontVinyl;
                color: $mainColor;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-right: 2.2rem;
                .icon
                {
                    font-size: 2rem;
                }
                .label
                {
                    font-size: 1.3em;
                    margin-top: .6rem;
                    padding: 0rem .2rem;
                    line-height: 1;
                }
                &::after
                {
                    content: "";
                    display: block;
                    border-bottom: .1rem solid black;
                    width: 0;
                    transition: .2s ease-in;
                }
                &:hover
                {
                    &::after
                    {
                        width: 100%;
                    }
                }
                &:last-child
                {
                    &::after
                    {
                        display: none;
                    }
                }
            }
        }
    }
    .bottom
    {   
        nav
        {
            padding: 2rem 8rem;
            .nav
            {
                display: flex;
                justify-content: space-around;
                list-style-type: none;
                a
                {
                    font-family: $fontHelveticva;
                    font-weight: 600;
                    display: flex;
                    flex-direction: column;
                    text-decoration: none;
                    font-size: 1.6rem;
                    color: $mainColor;
                    padding: 0rem 2.8rem;
                    padding-top: 1.6rem;
                    padding-bottom: .8rem;
                    &::after
                    {
                        content: "";
                        border-bottom: .23rem solid $mainColor;
                        width: 0rem;
                        transition: .2s ease;
                    }
                    &:hover
                    {
                        &::after
                        {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}