@import './variables';
header
{
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    .top
    {
        display: grid;
        grid-template-columns: 2fr 5fr;
        align-items: center;
        padding-top: 2rem;
        width: 100%;
        @media screen and (max-width: 690px)
        {
            grid-template-columns: 1fr;
            padding-top: 1rem;
            .logo
            {
                justify-content: center;
                margin-bottom: 2rem;
            }
            .search
            {
                margin-left: 2.2rem;
            }
        }
        @media screen and (max-width:560px)
        {
            padding-bottom: 1.5rem;
        }
        .mobile_bottom
        {
            width: 100%;
            display: grid;
            grid-template-columns: 3FR 2FR;
            @media screen and (max-width: 898px)
            {
                display: flex;
            }
        }
        .logo
        {
            display: flex;
            align-items: center;
            // font-size: 3rem;
            .container
            {
                display: flex;
                align-items: center;
                img
                {
                    max-height: 42px;
                    max-width: 100%;
                }
            }
        }
        .search
        {
            flex-grow: 1;
            margin-right: 2rem;
            .container
            {
                display: flex;
                flex-wrap: nowrap;
            }
            input
            {
                width: 100%;
                padding: 1rem 2rem;
                font-size: 1.6rem;
                outline: none;
                font-family: $fontVinyl;
                &::placeholder
                {
                    color: $placeholderColor;
                    font-weight: 700;
                }
            }
            .search_button
            {
                background-color: $mainColor;
                color: white;
                cursor: pointer;
                width: 4.24rem;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 2rem;
                font-weight: 600;
            }
        }
        .options
        {
            place-self: end;
            .container
            {
                display: flex;
                .option
                {
                    text-decoration: none;
                    font-family: $fontVinyl;
                    color: $mainColor;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-right: 2.2rem;
                    .icon
                    {
                        font-size: 2rem;
                    }
                    .label
                    {
                        font-size: 1.6em;
                        margin-top: .6rem;
                        padding: .2rem .2rem;
                        line-height: 1;
                    }
                    &::after
                    {
                        content: "";
                        display: block;
                        border-bottom: .1rem solid black;
                        width: 0;
                        transition: .2s ease-in;
                    }
                    &:hover
                    {
                        &::after
                        {
                            width: 100%;
                        }
                    }
                    &:last-child
                    {
                        &::after
                        {
                            display: none;
                        }
                    }
                }
                @media screen and (max-width: 898px)
                {
                    .store, .account, .acoount
                    {
                        display: none;
                    }
                }
            }
        }
    }
    .bottom
    {   
        width: calc(100% - 160px);
        @media screen and (max-width: 860px)
        {
            width: 100%;
            .header_nav
            {
                padding: 1rem 1.2rem;
                
            }
        }
        @media screen and(max-width: 690px)
        {
            .nav
                {
                    a
                    {
                        padding: .6rem 1rem!important;
                    }
                }
        }
        @media screen and (max-width:560px)
        {
            display: none;
        }
        nav
        {
            padding: 2rem 2rem;
            .nav
            {
                display: flex;
                justify-content: space-between;
                list-style-type: none;
                a
                {
                    font-family: $fontHelveticva;
                    font-weight: 600;
                    display: flex;
                    flex-direction: column;
                    text-decoration: none;
                    font-size: 1.6rem;
                    color: $mainColor;
                    padding: 0rem 2.8rem;
                    padding-top: 1.6rem;
                    padding-bottom: .8rem;
                    &::after
                    {
                        content: "";
                        border-bottom: .23rem solid $mainColor;
                        width: 0rem;
                        transition: .2s ease;
                    }
                    &:hover
                    {
                        &::after
                        {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}