@import "./mixins";
@import "./variables";
.main_banner
{
    .services
    {
        background-color: #d4d4d459;
        .services_list
        {
            display: flex;
            justify-content: space-around;
            align-items: center;
            list-style-type: none;
            padding: 1rem 0rem;
            a
            {
                display: flex;
                align-items: center;
                font-size: 1.8rem;
                color: $mainColor;
                text-decoration: none;
                .icon
                {
                    margin-right: 1.2rem;
                }
                .label
                {
                    font-family: $fontHelveticva;
                    text-transform: uppercase;
                    color: $mainColor;
                    font-size: 1.2rem;
                }
            }
        }
    }
    .banner
    {
        .banner_product
        {
            height: 50vh;
            color: $whiteColor;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: center;
            .product_details
            {
                // width: 40%;
                display: flex;
                flex-direction: column;
                justify-content:center;
                align-items: flex-start;
                height: 100%;
            }
            .product_title
            {
                font-size: 4.2rem;
                text-shadow: 1px 1px 6px black;
            }
            .product_description
            {
                text-shadow: 1px 1px 6px black;
                font-size: 1.4rem;
                line-height: 1.5;
                padding: 2rem 0rem;
            }
            .buy_now_button
            {
                font-size: 1.8rem;
                font-weight: 600;
                background-color: transparent;
                color: $whiteColor;
                padding: .8rem 1.8rem;
                border: 1px solid $whiteColor;
                text-decoration: none;
                &:hover
                {
                    background-color: $whiteColor;
                    color: $mainColor;
                }
            }
        }
        .banner_product1
        {
            background-image: url('../images/banner/1.jpg');
        }
        .banner_product2
        {
            background-image: url('../images/banner/2.jpg');
        }
    }
}
.sort_filter
{
    .filter
    {
        padding: 2rem 0rem;
    }
    .options
    {
        .container
        {
            display: flex;
            align-items: center;
            .label
            {
                display: flex;
                width: 100px;
                justify-content: space-between;
                margin-right: 3.2rem;
                font-weight: 600;
                font-size: 1.8rem;
                text-transform: uppercase;
            }
            .inputs
            {
                display: flex;
                width: 100%;
                &>*
                {
                    width: calc(100% / 6);
                    padding: 1rem 2.4rem;
                    font-size: 1.6rem;
                    outline: none;
                    font-weight: 600;
                    font-family: $fontHelveticva;
                    cursor: pointer;
                    border: none;
                    border-top: 1px solid $mainColor;
                    border-bottom: 1px solid $mainColor;
                    border-right: 1px solid $mainColor;
                    &:first-child
                    {
                        border-left: 1px solid $mainColor;
                    }
                }
                option
                {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    cursor: pointer;
                    &:hover
                    {
                        background-color: $mainColor;
                        color: $whiteColor;
                    }
                }

            }
        }
    }
}