@import url(https://use.typekit.net/rdw5cyr.js);
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root
{
    font-size: 10px;
}
button, input[type=button], input[type=reset], input[type=submit], input[type=search] {
    -webkit-appearance: none;
}
section
{
    margin-bottom: 4rem;
}
.section_wrapper
{
    padding: 0rem 4rem;
    width: 100%;
}
.page_layout
{
    padding-top: 15.297rem;
    @media screen and(max-width: 860px)
    {
        padding-top: 13.3297rem;   
    }
    @media screen and(max-width: 690px)
    {
        padding-top: 17.297rem;   
    }
    @media screen and(max-width: 560px)
    {
        padding-top: 13.6rem;   
    }
}

