@import url(https://use.typekit.net/rdw5cyr.js);
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 10px;
}

button, input[type=button], input[type=reset], input[type=submit], input[type=search] {
  -webkit-appearance: none;
}

section {
  margin-bottom: 4rem;
}

.section_wrapper {
  padding: 0rem 4rem;
  width: 100%;
}

.page_layout {
  padding-top: 14.23rem;
}
@media screen and (max-width: 890px) {
  .page_layout {
    padding-top: 12.63rem;
  }
}
@media screen and (max-width: 690px) {
  .page_layout {
    padding-top: 16.63rem;
  }
}
@media screen and (max-width: 560px) {
  .page_layout {
    padding-top: 12.9rem;
  }
}